<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</Pattern>
        </layout>
    </appender>
    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>pers_account.log</File>
        <!--        encoder как именно печатает события в логи-->
        <encoder>
            <pattern>%-5level [%thread] \(%file:%line\) %date{"dd-MM-yyyy HH:mm:ss,SSS"} - %msg%n</pattern>
        </encoder>
        <!--        rollingPolicy настраивает политику создания архива. В это случае архив будет создан при создании 50 файл логов-->
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <maxIndex>50</maxIndex>
            <FileNamePattern>pers_account_%i.log</FileNamePattern>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>10MB</MaxFileSize>
        </triggeringPolicy>
    </appender>

    <root level="INFO">
        <appender-ref ref="stdout"/>
        <appender-ref ref="file"/>
    </root>
</configuration>