<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

<!--    <context:annotation-config/> включает в себя все дефолтные реализации BeanPostProcessor (для удобства, чтобы не вспоминать все)-->
<!--    так же есть <context:component-scan base-package=""/> просканируется пакет и добавятся BPP-->
<!--    <context:component-scan base-package="kz.learning"/>-->

    <bean class="org.springframework.context.annotation.CommonAnnotationBeanPostProcessor"/>

<!--    <context:annotation-config/>-->

    <bean class="kz.learning.ProfilingAnnotationBeanPostProcessor"/>
    <bean class="kz.learning.InjectRandomIntAnnotationBeanPostProcessor"/>

    <bean class="kz.learning.TerminatorQuoter" id="terminatorQuoter" primary="true">
        <property name="message" value="hello world"/>
    </bean>
</beans>